node_modules
src/siscolidentifiant/vendor
dbdata/*
logs/apache2/*
config/development.env
config/application.ini
composer.phar
e2e/cypress_cache/*
**/cypress/videos
**/cypress/screenshots
composer.phar